.cell {
  width: var(--cell-size);
  aspect-ratio: 1;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

  left: calc(var(--cell-gap) + (var(--cell-size) * var(--col) + var(--cell-gap) * var(--col)));
  top: calc(var(--cell-gap) + (var(--cell-size) * var(--row)) + var(--cell-gap) * var(--row));

  background-color: hsl(200, 100%, var(--bg-lightness));
  color: hsl(200, 25%, var(--text-lightness));

  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
